name: Docker Image CI
#triggers the workflow/pipeline manually 
#events
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  issues:
    types: [opened, closed]
    
  workflow_dispatch:
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
